<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curso VUE</title>
  </head>
  <body>
    <main>

      <ul>
        <li v-for="tarea in tareasConPrioridad">
          {{ tarea.titulo }}
        </li>
      </ul>
      <form v-on:submit.prevent="agregarTarea">
        <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
        <input type="submit" value="Enviar Tarea">
      </form>

      <pre>{{ $data }}</pre>
    </main>
    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
