<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curso VUE</title>
  </head>
  <body>
    <main>
      <input type="search" v-model="busqueda" placeholder="Buscar Juego">
      <ul>
        <li v-for="juego in buscarJuego">
          {{ juego.titulo }}
        </li>
      </ul>
      <input type="range" min="0" max="10" v-model="minimo">

      <pre>{{ $data }}</pre>
    </main>
    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
